@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Custom page style */

  #swap-catalog {
      .item {
        margin: 1px 0 20px 10px;
        float: left;
        width: 250px;
        height: 330px;
        box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.1);
        text-align: center;
        background-color: _palette(fg);

        .img {
          background-color: _palette(fg);
          height: 205px;
        }

        .amount {
          height: 105px;
          background-color: _palette(fg-light);

            .fixed > div{
                margin: 10px 3px 8px 8px;
                border-radius: 100%;
                border: solid 1px;
                width: 50px;
                height: 50px;
                float: left;
                padding: 10px 2px 0 2px;
                font-size: large;
            }

            .fixed > div.no-price{
              border: none !important;
            }

            .fixed > div.no-price:hover{
              background-color: _palette(fg-light) !important;
            }

            .fixed > div.disabled {
              pointer-events: none;
            }

            .fixed > div:hover {
                background-color: _palette(bg);
                color: _palette(fg-light);
            }

            .custom > input {
                height: 60px;
                color: _palette(fg-light);
                background-color: _palette(bg);
            }

            .custom > input:disabled {
                background-color: _palette(error) !important;
            }
        }

        img {
          width: 250px;
          height: 205px;
        }

      }
  }

  #listing {
      @extend #swap-catalog;
  }

  #filter {
      background-color: _palette(fg-light);
      padding: 0.5em 0.5em 0.1em 0.5em;
      text-align: center;
      margin-bottom: 10px;

      #category {
        div {
          float: left;
          margin-left: 5px;

          a {
            color: _palette(bg) !important;
            text-decoration: none;
            margin-left: 10px;
            padding: 1px;
          }
          a.selected {
            text-decoration: underline;
          }
        }
      }

      #search {
        float: right;
        margin-right: 1px;

        input {
          height: 38px;
          margin-top: -35px;
          color: _palette(fg-light);
        }
      }

  }

  #basket{
    box-shadow: 0 0 10em 0 rgba(0, 0, 0, 0.2);
    @include padding(2em, 2em);
    right: 0.3em;
    position: absolute;
    z-index: 1000;
    background-color: _palette(fg-light);
    color: _palette(bg);
    width: 220px;

      .basket-buttons {
        margin-left: -2em;
        margin-right: -2em;
        @include padding(0.5em, 0.2em);
        background-color: _palette(bg);
        color: _palette(fg);

          button {
            width: 100%;
            margin-bottom: 10px;
          }
      }
  }

  .disabled {
    pointer-events: none;
  }

  .transacting {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
  }

  #transactionMessage {
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  input#catalog-item.custom-available {
      background-color: _palette(bg) !important;
  }

  input#catalog-item.custom-unavailable {
      background-color: _palette(error) !important;
  }

  /*- Card container -*/
  .card-container {
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin-top: 20px;
    height: 263px;
    perspective: 500px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  /*- Card body -*/
  .card-body {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .3s linear;
  }

  /*- Flipping the card -*/
  .card-container:hover .card-body {
    transform: rotateY(180deg);
  }

  .card-container:hover > .card-body > .side-front{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in, visibility .75s linear;
  }
  
  .flip .card-body{
    transform: rotateY(180deg);
  }

  .flip > .card-body > .side-front {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in, visibility .75s linear;
  }

  /*- Card sides -*/
  .card-side {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: _palette(fg);
    backface-visibility: hidden;
    box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
  }

  /*- Front side -*/
  .side-front [class^=col-xs]:first-of-type {
    padding-left: 0;
  }

  /*- Back side -*/
  .side-back {
    transform: rotateY(180deg);
  }

