@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 _size(element-margin) 0;
		width: 100%;

		tbody {
			tr {
				border: none;
				border-left: 0;
				border-right: 0;
			}
			tr.header {
				margin-top: 10px;
				margin-bottom: 10px;
				border: solid 1px _palette(border);
				border-left: 0;
				border-right: 0;
			}
		}

		td {
			padding: 0.25em 0.25em;
		}

		th {
			color: _palette(fg-bold);
			font-size: 0.8em;
			font-weight: _font(weight-bold);
			letter-spacing: _size(letter-spacing);
			line-height: 1.5;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
			text-transform: uppercase;
		}

		thead {
			border-bottom: solid 1px _palette(border);
		}

		tfoot {
			border-top: solid 1px _palette(border);
		}
	}